
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Crear Nuevo Medicamento </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #medicamentosForm="ngForm" (ngSubmit)="onSubmit(medicamentosForm)">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="Nombre" #Nombre="ngModel" type="text" [(ngModel)]="medicamento.nombre" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input name="Descripcion" #Nombre="ngModel" type="text" [(ngModel)]="medicamento.descripcion" required></ion-input>
        </ion-item>

        <ion-button [disabled]="!medicamentosForm.valid" class="btn-large btn-submit" type="submit" expand="block">Guardar</ion-button>
      </form>
   
    </ion-card-content>
  </ion-card>

</ion-content>
