<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Seleccione el medicamento</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <img src="../../../assets/medicamentos.png" />
      <ion-item lines="full">
        <ion-select
          interface="action-sheet"
          placeholder="Medicamentos"
          name="MedicamentoRutina"
          #MedicamentoRutina="ngModel"
          [(ngModel)]="idMedicamentoSeleccionado"
        >
          <ion-select-option
            expand="block"
            *ngFor="let item of medicamentos"
            [value]="item.id"
            >{{ item.nombre }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col col-6><ion-button  class="btn-large btn-submit" type="submit" expand="block" (click)="navigateToTipoMedicamentoRutina()">Anterior</ion-button></ion-col>
        <ion-col col-6><ion-button  class="btn-large btn-submit" type="submit" expand="block">Siguiente</ion-button></ion-col> 
      </ion-row>
     
      
    </ion-card-content>
  </ion-card>
</ion-content>
