<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Data Maestra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button (click)="navigateToTipoMedicamentos()">
        <ion-label>Presentacion de medicamentos</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToMedicamentos()">
        <ion-label>Medicamentos</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToIntervalo()">
        <ion-label>Intervalos</ion-label>
      </ion-item>      
      <ion-item button (click)="navigateToRecomendacionesComunes()">
        <ion-label>Recomendaciones</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToRecomendaciones()">
        <ion-label>Recomendaciones por medicamento</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToTipoDuracion()">
        <ion-label>Tipos de Duracion</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
